body{
  background-color: hsl(0, 0%, 10%);
}
.to-do-list{
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 100px;

}
h1{
  font-size: 4rem;
}
button{
  font-size: 1.7rem;
  font-weight: bold;
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}
.add-button{
  background-color: hsl(125, 47%, 54%);
}
.add-button:hover{
  background-color: hsl(125, 47%, 44%);
}
.delete-button{
  background-color: hsl(10, 90%, 50%);
}
.delete-button:hover{
  background-color: hsl(12, 90%, 40%);
}
.move-button{
  background-color: hsl(207, 90%, 64%);
}
.move-button:hover{
  background-color: hsl(207, 90%, 54%);
}
input[type="text"]{
  font-size: 1.6rem;
  padding: 10px;
  border: 2px solid hsla(0, 0%, 80%, 0.5);
  border-radius: 5px;
  color: black;
}
ol{
  padding: 0;
}
li{
  font-size: 2rem; font-weight: bold;
  padding: 15px;
  background-color: hsl(0, 0%, 97%);
  margin-bottom: 10px;
  border: 3px solid hsla(0, 0%, 85%, 0.75);
  border-radius: 5px;
  display: flex;
  align-items: center;
}
.text{
  flex: 1;
}
.delete-button, .move-button{
  padding: 8px 12px;
  font-size: 1.4rem;
  margin-left: 10px;
}

.modal-backdrop {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(0,0,0,0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal {
  background: white;
  padding: 20px;
  border-radius: 6px;
  box-shadow: 0 0 10px black;
  text-align: center;
  color:black;
  z-index: 9999;
  position: relative;
}

.modal button {
  font-size: 1.4rem;
  padding: 10px 18px;
  margin: 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.modal .confirm {
  background-color: red;
  color: white;
}

.modal .cancel {
  background-color: grey;
  color: black;
}
