body {
  background: rgb(53, 34, 94);
}

.to-do-list{
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 100px;

}
h1{
  font-size: 4rem;
  color: white;
}
button{
  font-size: 1.7rem;
  font-weight: bold;
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}
.add-button{
  background-color: hsl(125, 72%, 20%);
}
.add-button:hover{
  background-color: hsl(125, 47%, 44%);
}
.delete-button{
  background-color: hsl(10, 90%, 50%);
}
.delete-button:hover{
  background-color: hsl(12, 90%, 40%);
}
.move-button{
  background-color: hsl(207, 90%, 64%);
}
.move-button:hover{
  background-color: hsl(207, 90%, 54%);
}
input[type="text"]{
  font-size: 1.6rem;
  padding: 10px;
  border: 2px solid hsla(0, 0%, 80%, 0.5);
  border-radius: 5px;
  color: black;
}
ol{
  padding: 0;
}
li{
  font-size: 2rem; font-weight: bold;
  padding: 15px;
  background-color: hsl(0, 0%, 97%);
  margin-bottom: 10px;
  border: 3px solid hsla(0, 0%, 85%, 0.75);
  border-radius: 5px;
  display: flex;
  align-items: center;
}
.text{
  flex: 1;
}
.delete-button, .move-button{
  padding: 8px 12px;
  font-size: 1.4rem;
  margin-left: 10px;
}

.modal-backdrop {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(0,0,0,0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal {
  background: white;
  padding: 20px;
  border-radius: 6px;
  box-shadow: 0 0 10px black;
  text-align: center;
  color:black;
  z-index: 9999;
  position: relative;
}

.modal button {
  font-size: 1.4rem;
  padding: 10px 18px;
  margin: 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.modal .confirm {
  background-color: red;
  color: white;
}

.modal .cancel {
  background-color: grey;
  color: black;
}

.task-form {
  display: flex;
  align-items: center;
  gap: 15px;
  margin: 30px 0;
  justify-content: center;
}

.task-form input[type="text"] {
  flex: 1;
  max-width: 420px;
  padding: 16px 22px;
  font-size: 1.5rem;
  border-radius: 999px;
  border: none;
  background-color: hsl(0, 0%, 95%);
}

.task-form .add-button {
  padding: 16px 36px;
  border-radius: 999px;
  font-size: 1.6rem;
}

.todo-card {
  background: rgba(50, 21, 56, 0.571);
  max-width: 600px;
  margin: 0 auto;
  padding: 30px 35px;
  border-radius: 12px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
}

.todo-card h1 {
  color: black;
}

.todo-card ol {
  margin-top: 20px;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.title img {
  width: 50px;
  height: 50px;
}

.checkbox {
  width: 40px;
  height: 40px;
  cursor: pointer;
  margin-right: 15px;
}

.completed {
  text-decoration: line-through;
  opacity: 0.6;
}